name = "QuantumGraining"
uuid = "77585022-d976-43ff-a138-80a6f5a3bb8b"
authors = ["Leon Bello"]
version = "0.1.1"

[deps]
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
DocumenterTools = "35a29f4d-8980-5a13-9543-d66fff28ecb8"
IfElse = "615f187c-cbe4-4ef1-ba3b-2fcf58d6d173"
IterTools = "c8e1da08-722c-5040-9ed9-7db0dc04731e"
LaTeXStrings = "b964fa9f-0449-5b57-a5c2-d3ea65f4040f"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
QuantumCumulants = "35bcea6d-e19f-57db-af74-8011de6c7255"
QuantumOptics = "6e0679c1-51ea-5a7c-ac74-d61b76210b0c"
Revise = "295af30f-e4ad-537b-8983-00126c2a3abe"
SymbolicUtils = "d1185830-fcd6-423d-90d6-eec64667417b"
Symbolics = "0c5d862f-8b57-4792-8d23-62f2024744c7"

[compat]
Combinatorics = "1"
Documenter = "0.27, 1"
DocumenterTools = "0.1"
IfElse = "0.1"
IterTools = "1"
LaTeXStrings = "1.3"
ModelingToolkit = "8"
OrdinaryDiffEq = "6.6"
Plots = "1"
QuantumCumulants = "0.2"
QuantumOptics = "1"
Revise = "3"
SymbolicUtils = "1"
Symbolics = "5"
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
